*
!.gitignore
!process_dicom.py
!webui.py
!extract_one_per_series.py
!pyproject.toml
!.flake8
!requirements.txt
!README.md
!.github/
!.github/workflows/
!.github/workflows/**
!TUMLogo.svg
!dicom_browser/
!dicom_browser/**
!scripts/
!scripts/**
!templates/
!templates/**
!tests/
!tests/**
!efficient_data_access_and_storage_optimization_for_PET_CT_imaging_data/
!efficient_data_access_and_storage_optimization_for_PET_CT_imaging_data/**
