*
!.gitignore
!extract_metadata.py
!process_dicom.py
!store_metadata.py
!webui.py
!extract_one_per_series.py
!dicom_discovery.py
!pyproject.toml
!.flake8
!requirements.txt
!README.md
!.github/
!.github/workflows/
!.github/workflows/**
!TUMLogo.svg
!translations.py
!templates/
!templates/**
!tests/
!tests/**
!create_mock_dicom.py
!Efficient Data Access and Storage Optimization for PET:CT Imaging Data/
!Efficient Data Access and Storage Optimization for PET:CT Imaging Data/**
!Efficient Data Access and Storage Optimization for PET:CT Imaging Data.pdf